body {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    color: #333333;
}
.container {
    width:1280px;
    margin: 0 auto;
}
/* all header content styles section */
.page-header{
    background-color: #445162;
    box-sizing: border-box;
    width:100%;
    padding: 50px;
    color: #fff;
}
.page-header:after, .page-main-section-about:after,
.page-main-section-others:after, .page-main-section-screenshots:after {
    content:"";
    display: block;
    width: 100%;
    clear: both;
}
.page-wraper {
    float:left;
}
.page-header-title {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 60px;
    font-weight: 400;
    line-height: normal;
    margin:0 0 50px 0;
    padding: 0 0 0 0;
}
.page-header-list {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin: 0 0 0 37px;
    padding: 0 0 0 0;
    list-style-type: none;
}
.page-header-list-item{
    position: relative;
    padding: 0 0 0 0;
}
.page-header-list-item:before{
    content: "";
    display: block;
    position: absolute;
    width:25px;
    height: 19px;
    margin: 0 10px 0 0; 
    top: 7px;
    left: -37px;
    background-image: url('../img/check_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.page-header-product-image{
    background-color: #fff;
    border:1px solid green;
    float: right;
    color: black;
}
/* all main content styles section */
.page-main {
    width: 100%;
    box-sizing: border-box;
}
/* section about content style */
.page-main-section-about{
    padding: 50px;
    box-sizing: border-box;
}
.page-main-section-about-wraper{
    width: 649px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    float: left;
}

.page-main-section-about-header{
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 30px 0;
    padding:0;
}
.page-main-section-about-text{
    margin: 0 0 20px 0;
    padding: 0;
}
.page-main-section-about-text:last-child{
    margin: 0;
    }
.page-main-section-about-video{
    background-color: #445161;
    height: 245px;
    float: right;
    color: #fff;
}
/* section others content style */
.page-main-section-others {
    background-color: #f5f5f5;
    padding: 50px 50px 30px 50px;
}
.page-main-section-others-header{
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;
}
.page-main-section-others-list{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.page-main-section-others-list-item{
    width: 48%;
    position: relative;
    margin: 0 23px 20px 0;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    display: block;
}
.page-main-section-others-list-item:before{
    content: "+";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 32px;
    top: 4px;
    left: 0;
    color: #fff;
    font-size: 40px;
    background-color: #445161;
    text-align: center;
    position: absolute;
}
/* section screenshots content style */
.page-main-section-screenshots{
    width: 100%;
    box-sizing: border-box;
    padding: 50px 50px 30px 50px;
}
.page-main-section-screenshots-header{
color: #445161;
font-size: 30px;
font-weight: 400;
line-height: 36px;
text-align: center;
margin: 0 0 35px 0;
padding: 0;
}
.page-main-section-screenshots-figure{
    box-sizing: border-box;
    width: 48%;
    float: left;
    margin: 0 16px 20px 0;
    padding: 0;
}
.page-main-section-screenshots-figure-picture{
    width: 200px;
    height: 150px;
    background-color: #445161;
    color:#fff;
    float: left;
    margin: 0 15px 0 0;
}
.page-main-section-screenshots-figure-figurecaption{
    /* clear style */
}
.page-main-section-screenshots-pic-title{
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    padding: 0;
}
.page-main-section-screenshots-pic-text{
    margin: 0;
    padding: 0;
}
.page-main-reviews {
    padding: 50px 50px 26px 50px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page-main-reviews-title {
    color: #445161;
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0 0 35px 0;
}
.page-main-reviews-article {
    width: 574px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px 0;
}
.page-main-reviews-article-photo {
    border-radius: 50%;
    background-color: #445161;
    width:75px;
    height: 75px;
}
.page-main-reviews-article-text{
    width: 80%;
    margin: 0;
    background-color: #ebebeb;
    color: #333333;
    font-family: Arial;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    padding: 16px;
    margin: 0 0 0 32px;
    border-radius: 4px;
    position: relative;
}
.page-main-reviews-article-text:before{
    content: "";
    display: block;
    border: 13px solid transparent; 
    border-right: 13px solid #ebebeb;
    position: absolute;
    top: 27px;
    left: -26px;
    margin: 0;
    padding: 0;
}
.page-main-reviews-article-author{
    display: block;
    margin: 0;
    color: #989898;
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
}
.page-main-buy{
    padding:50px 0 50px 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.page-main-buy-title{
    display: block;
    width: 100%;
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 30px 0;
}
.page-main-buy-block{
    width:300px;
    background-color: #445162;
    border-radius: 4px;
    margin:0 45px 0 0;
    box-sizing: border-box;
    border: 2px solid #445162;
    padding: 0 0 10px 0;
}
.page-main-buy-block:nth-child(4){
    margin: 0;
}
.page-main-buy-block-title{
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
}
.page-main-buy-block-cost{
    color: #445162;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    display: block;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding:18px;
    box-sizing: border-box;
}
.page-main-buy-block-list{
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    padding:20px 0 0 20px;
    margin: 0 0 0 20px;
    box-sizing: border-box;
}
.page-main-buy-block-list-item{
    /* clear style */
}
.page-main-buy-block-button{
    display: block;
    box-sizing: border-box;
    width: 260px;
    margin: 20px auto 0 auto;
    background-color: #fff;
    color: #445161;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 14px;
    border-radius: 4px;
    cursor: pointer;
}
.page-main-buy-block-button:hover{
    background-color: #445161;
    color: #fff;
}
  .page-main-buy-block-button:active{
    background-color: #fff;
    color: #445161;
}
/* all footer content styles section */
.page-footer{
    background-color: #445162;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.page-footer-title{
    display: block;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin:0 0 30px 0;
    text-align: center;
    width: 100%;
}
/*from style */
.page-footer-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}
.page-footer-form input[type="text"],
.page-footer-form input[type="email"],
.page-footer-form textarea{
    width:100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    background-color:  #ffffff;
    outline: none;
    text-transform: capitalize;
}
.page-footer-form input[type="text"]::-webkit-input-placeholder,
.page-footer-form input[type="email"]::-webkit-input-placeholder,
.page-footer-form textarea::-webkit-input-placeholder{
    text-overflow:ellipsis;
    color:  #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.page-footer-form textarea{
    height: 170px;
    resize: none;
    box-sizing: border-box;
  }
.page-footer-form input[type="submit"]{
        border-radius: 5px;
        background-color:  #ffffff;
        width: 140px;
        height: 40px;
        text-transform: uppercase;
        color:  #445162;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        outline: none;
        border: 1px solid gray;
        cursor: pointer;
  }
.page-footer-form input[type="submit"]:hover{
    background-color: gray;
    color: #ffffff;
  }
/* contacts style */
.page-footer-contacts{
    width: 240px;
    border:1px solid green;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}
.page-footer-contacts-ico{
    display: block;
    margin: 0 0 15px 0;
    padding: 0 0 0 30px;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}
.page-footer-contacts-ico:last-of-type {
    margin: 0 0 32px 0;
  }
.page-footer-contacts-ico::before{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1px;
    left: 0;
  }
.page-footer-contacts-ico:nth-child(1):before{
    display: block;
    
}
.page-footer-social{
    display: flex;
    justify-content: space-between;
}
.page-footer-contacts-link{
    display: block;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    background-image: url("../img/social_buttons.png");
    background-repeat: no-repeat;
}
.page-footer-contacts-link:nth-child(1){
    background-position: 0 0;
}
.page-footer-contacts-link:nth-child(2){
    background-position: -49px 0;
}
.page-footer-contacts-link:nth-child(3){
    background-position: -98px 0;
}
.page-footer-contacts-link:nth-child(4){
    background-position: -149px 0;
}
.page-footer-contacts-link:nth-child(5){
    background-position: -197px 0;
}
.aside-copirights{
/* clear style */
  }
.aside-copirights{
    width: 1280px;
    background-color: #fff;
}
.aside-copyrights-title{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: #445162;
}